    /* font sans from google fonts  */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


  *{
    font-family: 'Open Sans', sans-serif;

  }


header{
    background-color: rgb(189, 168, 168);
    padding: 100px 200px;

}


nav{

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.nav-title{

  font-size: 3rem;
  font-weight: 700px;

}

nav >ul{
     
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;


    
}


ul li a{
     
    text-decoration: none;
    margin-left:20px;
    
}



.banner-container{

    text-align: center;
   

}

.banner-title{
    font-size: 64px;
    font-weight: 700px;

}

.banner-description{

    font-size: 18px;
    font-weight: 400px;
}


.primary-btn{
 width: 180px;
height: 64px;
background-color: rgb(211, 152, 43);
border: 0px;
border-radius: 10px;
color: aliceblue;
}


.banner-img{
width: 1440px;
height: 700px;
margin: 0 auto;
}