    /* font sans from google fonts  */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


  *{
    font-family: 'Open Sans', sans-serif;

  }

                              /* header section start  */
header{
    background-color: rgb(189, 168, 168);
    padding: 50px 240px;

}


nav{

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.nav-title{

  font-size: 3rem;
  font-weight: 700px;

}

nav >ul{
     
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;


    
}


ul li a{
     
    text-decoration: none;
    margin-left:20px;
    
}

 /* banner section start   */

.banner-container{

    text-align: center;
   

}

.banner-title{
    font-size: 64px;
    font-weight: 700px;

}

.banner-description{

    font-size: 18px;
    font-weight: 400px;
}


.primary-btn{
 width: 180px;
height: 64px;
background-color: rgb(211, 152, 43);
border: 0px;
border-radius: 10px;
color: aliceblue;
cursor: pointer;
}


.banner-img{
width: 1440px;
height: 100%;
margin-top: 30px;

}






/* team content section  */


main{

  max-width: 1440px;
  margin: 70px auto;
}


.team-container{

display: flex;
align-items: center;
padding-left: 20px;

}


.team-img-content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
  gap: 5px;
   }


   .team-content{

    padding-left: 40px;

   }

   .quick-list { 
    
    color: dark rgba(70, 56, 56, 0.767);
    font-size: 40px;
    font-weight: 500px;
    font-family: work sans;
  }


.of-our{
   
  color: rgb(10, 7, 7);
  font-size: 45px;
  font-weight: 700px;

}


.Features-text{

  color: orange;
  font-size: 45px;
  font-weight: 700px;
}


.team-content-descripsion{

  font-size:15px;
  font-weight: 400px;
}




/*  facts card section */


.Feature-container{

 margin-top: 100px;
}

.facts-card-container{

   display: flex;
  justify-content: space-around;
 
  
  
  
}

.card{
  text-align: center;
  border: 1px solid  ;
  padding: 30px;
  border-radius: 5px;

}


.card img{
width: 45px;
height: 45px;
margin-top: 20px;
}


.card-point{

  font-size: 25px;
  font-weight:600px;
}

.card-title{
  font-size: 20px;
   font-weight: 600px;
}






















/* responsive media quary  for phone */

@media screen and (max-width: 576px) { 
    
  header, .Feature-container, .nav, .banner-container{
     {
        flex-direction: column;
    }

    .team-img-content {

      grid-template-columns: 1fr;
    }


  .Feature-containe {

    padding-left: 20px;
    padding-right: 20px;

  }

  }
}

/* responsive media quary  for tablet  */

@media screen and (min-width: 576px) and (max-width: 960px) {

  header{
    padding: 50px;

  }
  nav{
    flex-direction: column;
  }
}




